[ghq]
    root = ~/src
[core]
    excludesfile = ~/.gitignore_global

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[user]
       name = r_takaishi
       email = ryo.takaishi.0@gmail.com
[alias]
        delete-merged-branches = !git branch --merged | grep -v \\* | xargs -I % git branch -d %
