[submodule "zaw"]
	path = zaw
	url = git://github.com/zsh-users/zaw.git
[submodule "antigen"]
	path = antigen
	url = https://github.com/zsh-users/antigen.git
[submodule "packages/zaw"]
	path = packages/zaw
	url = https://github.com/zsh-users/zaw.git
[submodule "packages/antigen"]
	path = packages/antigen
	url = https://github.com/zsh-users/antigen.git
